.blockLayout {
    background: #efefef;
    overflow-x: auto;

    :global {
        .ant-layout-content {
            width: 1440px;
            margin: 0 auto;
            padding: 0;
            min-height: auto;
            position: relative;

            @media screen and (max-width: 1440px) {
                padding: 0 20px;
            }
        }
    }
}
